<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ユーザ登録</title>
  </head>
  <body>
    <h1>ユーザ登録</h1>
    <form action="/register" method="post">
      <div class="mb-3">
        <label for="username">ユーザ名</label>
        <input type="text" name="username" id="username" required />
      </div>
      <div class="mb-3">
        <label for="email">メールアドレス</label>
        <input type="email" name="email" id="email" required />
      </div>
      <div class="mb-3">
        <label for="password">パスワード</label>
        <input type="password" name="password" id="password" required />
      </div>
      <button class="btn btn-success">登録</button>
    </form>
  </body>
</html>
