<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>投稿一覧</title>
  </head>
  <body>
    <h1>投稿一覧</h1>

    <% for (let post of posts){ %>
    <div
      style="
        border: 1px solid #ccc;
        padding: 16px;
        margin-bottom: 12px;
        border-radius: 8px;
        background-color: #f9f9f9;
      "
    >
      <h2><%= post.title %></h2>
      <p><%= post.note %></p>
    </div>
    <% } %>

    <script src="app.js"></script>
  </body>
</html>
